<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  {% seo %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
    type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}

</head>

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>

  <header class="page-header" role="banner">
    <!-- <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline
      }}</h2>
    {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    {% endif %}
    {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
    <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
    {% endif %} -->
  </header>

  <main id="content" class="main-content" role="main" style="visibility: visible;">
    <hr>
    <h1 id="what-makes-a-movie-successful-">What makes a movie successful?</h1>
    <p>What makes a movie successful? While this question may seem like a low-hanging fruit, it requires a very holistic
      approach. A good film should not only make use of the 7th Art but of all seven Arts. A movie implies many choices:
      what genres to focus on, which director and actors bring the most added value, what budget to spend? With such a
      big movie database, we can expect to find some patterns for which those choices lead to more successful movies.
      But then again, what makes a movie successful? From profitability to perenniality, we shall investigate different
      success indicators. Ideally, the goal for our data story would be to draw a generator for the next successful
      movie: a user would select for instance a genre of interest and we would suggest the ideal combo of actors,
      director, budget, diversity, etc.</p>
    <p>
      In the world of cinema there are very different genres. In this analysis, we have separated the data according to
      each genre so that they can be explored independently. So, choose your favorite genre to find out what ingredients
      its films must have to be a hit.
    </p>

    <label for="image-selector1">
      Current genre:
    </label>
    <select id="image-selector1" onchange="displayImages(this)" class="dropdown-menu">
      <option value="Action">Action</option>
      <option value="Adventure">Adventure</option>
      <option value="Black-and-white">Black and White</option>
      <option value="Comedy">Comedy</option>
      <option value="Crime-Fiction">Crime Fiction</option>
      <option value="Crime">Crime</option>
      <option value="Documentary">Documentary</option>
      <option value="Drama">Drama</option>
      <option value="Family-Film">Familiar</option>
      <option value="Horror">Horror</option>
      <option value="Indie">Indie</option>
      <option value="Romance-Film">Romance</option>
      <option value="Short-Film">Short</option>
      <option value="Silent-Film">Silent</option>
      <option value="Thriller">Thriller</option>
      <option value="World-cinema">World cinema</option>
    </select>


    <h2 id="actors-directors">Best actors and directors to get a good movie</h2>
    <img id="best_actors" src="./figures/best_actors/Action.svg" alt="Best Actors">
    <img id="best_directors" src="./figures/best_directors/Action.svg" alt="Best directors">
    <p>Choosing a good cast and director for a movie are both crucial elements of the film-making process, as they can
      greatly impact the quality and success of a film.
    </p>
    <p>
      A good cast is essential for bringing the characters to life and making them believable and relatable to the
      audience. The actors must be able to convey the emotions and motivations of their characters through their
      performances, and must be able to work well with the other members of the cast in order to create a cohesive and
      compelling story. In addition to acting ability, it is also important to consider the diversity and representation
      of the cast, as a diverse cast can bring different perspectives and experiences to the film and make it more
      relatable to a wider audience.
    </p>
    <p>
      On the other hand, a good director is responsible for overseeing the creative vision of the film and bringing it
      to life through the actors, sets, and other elements of the film. They must be able to communicate their vision to
      the cast and crew and guide them towards achieving it. A good director also has the ability to bring out the best
      performances from the actors and create a cohesive and compelling story.
    <p>
      In the present study, we looked into the added value of actors and directors by assigning them a score based on
      their portfolio of movies (respective score and number of movies) sorted by genres. We further investigated the
      added values of specific collaborations when a minimum of 3 movies have been made together. On the network graphs
      above, we show the top 15 actors and directors according to the genre of your choice. The size of the bubble is
      proportional to the score of the individual while the presence and width of an edge between two individuals
      symbolizes the added value of their collaboration.
    </p>
    <p>
      Overall, the cast of a movie plays a crucial role in its success, and choosing the right actors is an important
      decision that can have a significant impact on the film's quality and appeal.
    </p>

    <h2 id="genres-complement">How well this genre works with others?</h2>
    <img id="image2" src="./figures/folder2/image1.jpg" alt="Image 2">
    <p>We now investigate the best associations of genres. Having different genres for a movie can be important for a
      number of reasons.</p>
    <p>One reason is that it allows the movie to appeal to a wider audience. Different genres appeal to different
      demographics, and by incorporating elements of multiple genres, a movie can attract a larger and more diverse
      audience.</p>
    <p> Another reason is that it can make the movie more interesting and unpredictable. By combining different genres,
      a movie can keep the audience guessing and create a more unique and engaging viewing experience.</p>
    <p>In addition, incorporating elements of different genres can also allow a movie to explore a wider range of themes
      and ideas. For example, a comedy-drama might explore both light-hearted and serious themes, while a horror-comedy
      might blend scares with laughs.</p>
    <p>Overall, having different genres in a movie can help to make it more appealing, interesting, and dynamic, and can
      allow it to explore a wider range of themes and ideas.</p>
    <p>As before, we display here a network graph of the best 5 combinations to your chosen genre with an edge width
      proportional to the success of this combination.</p>

    <h2 id="ethnicity-gender">Etnicity and gender equality. How unfair is the cinema industry?</h2>
    <img id="image5" src="./figures/folder1/image1.jpg" alt="Image 1">
    <p>Some text goes here</p>

    <h2 id="top-words">What are the main topics of the top movies?</h2>
    <img id="image4" src="./figures/folder2/image1.jpg" alt="Image 2">
    <p>Some text goes here</p>

    <h2 id="budget">Let's talk about money. How much you need to spend to get a succesful movie?</h2>
    <img id="image3" src="./figures/folder1/image1.jpg" alt="Image 1">
    <p>Some text goes here</p>

    <script>
      function displayImages(element) {
        // Get the selected value of the dropdown menu
        var selectedValue = element.value;

        // Set the value of all dropdown menus to the selected value
        var dropdowns = document.querySelectorAll("select");
        dropdowns.forEach(dropdown => {
          dropdown.value = selectedValue;
        });

        // Update the src attributes of the images
        document.getElementById("best_actors").src = "./figures/best_actors/" + selectedValue + ".svg";
        document.getElementById("best_directors").src = "./figures/best_directors/" + selectedValue + ".svg";
      }
    </script>









    <div>
      <h1 id="create-your-movie">Create your own movie. How succesful can you make it?</h1>
    </div>


    <p>Select an option from each dropdown menu:</p>
    <form>
      <label for="menu-actors">Menu 1:</label><br>
      <input type="text" id="filter-actors" oninput="filterOptions('menu-actors', this.value)">
      <br>
      <select id="menu-actors" name="menu-actors" class="dropdown-menu" onchange="showSum()">
        <option value="">---</option>
      </select>
      <br>
      <label for="menu2">Menu 2:</label><br>
      <input type="text" id="filter2" oninput="filterOptions('menu2', this.value)">
      <br>
      <select id="menu2" name="menu2" class="dropdown-menu" onchange="showSum()">
        <option value="">---</option>
      </select>
      <br>
      <label for="menu3">Menu 3:</label><br>
      <input type="text" id="filter3" oninput="filterOptions('menu3', this.value)">
      <br>
      <select id="menu3" name="menu3" class="dropdown-menu" onchange="showSum()">
        <option value="">---</option>
      </select>
    </form>
    <p id="sum"></p>

    <script src="./js/modelPresenter.js">
    </script>

    <footer class="site-footer">
      {% if site.github.is_project_page %}
      <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
        is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
      {% endif %}
      <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub
          Pages</a>.</span>
    </footer>
  </main>
</body>

</html>