<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  {% seo %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
    type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}

</head>

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>

  <header class="page-header" role="banner">
    <!-- <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline
      }}</h2>
    {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    {% endif %}
    {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
    <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
    {% endif %} -->
  </header>

  <main id="content" class="main-content" role="main" style="visibility: visible;">
    <hr>
    <h1 id="what-makes-a-movie-successful-">What makes a movie successful?</h1>
    <p>What makes a movie successful? While this question may seem like a low-hanging fruit, it requires a very holistic
      approach. A good film should not only make use of the 7th Art but of all seven Arts. A movie implies many choices:
      what genres to focus on, which director and actors bring the most added value, what budget to spend? With such a
      big movie database, we can expect to find some patterns for which those choices lead to more successful movies.
      But then again, what makes a movie successful? From profitability to perenniality, we shall investigate different
      success indicators. Ideally, the goal for our data story would be to draw a generator for the next successful
      movie: a user would select for instance a genre of interest and we would suggest the ideal combo of actors,
      director, budget, diversity, etc.</p>
    <p>
      In the world of cinema there are very different genres. In this analysis, we have separated the data according to
      each genre so that they can be explored independently. So, choose your favorite genre to find out what ingredients
      its films must have to be a hit.
    </p>

    <label for="image-selector1">
      Current genre:
    </label>
    <select id="image-selector1" onchange="displayImages(this)" class="dropdown-menu">
      <option value="image1">Image 1</option>
      <option value="image2">Image 2</option>
    </select>


    <h2 id="actors-directors">Best actors and directors to get a good movie</h2>
    <img id="image1" src="./figures/folder1/image1.jpg" alt="Image 1">
    <p>Choosing a good cast and director for a movie are both crucial elements of the film-making process, as they can
      greatly impact the quality and success of a film.
    </p>
    <p>
      A good cast is essential for bringing the characters to life and making them believable and relatable to the
      audience. The actors must be able to convey the emotions and motivations of their characters through their
      performances, and must be able to work well with the other members of the cast in order to create a cohesive and
      compelling story. In addition to acting ability, it is also important to consider the diversity and representation
      of the cast, as a diverse cast can bring different perspectives and experiences to the film and make it more
      relatable to a wider audience.
    </p>
    <p>
      On the other hand, a good director is responsible for overseeing the creative vision of the film and bringing it
      to life through the actors, sets, and other elements of the film. They must be able to communicate their vision to
      the cast and crew and guide them towards achieving it. A good director also has the ability to bring out the best
      performances from the actors and create a cohesive and compelling story.
    <p>
      In the present study, we looked into the added value of actors and directors by assigning them a score based on
      their portfolio of movies (respective score and number of movies) sorted by genres. We further investigated the
      added values of specific collaborations when a minimum of 3 movies have been made together. On the network graphs
      above, we show the top 15 actors and directors according to the genre of your choice. The size of the bubble is
      proportional to the score of the individual while the presence and width of an edge between two individuals
      symbolizes the added value of their collaboration.
    </p>
    <p>
      Overall, the cast of a movie plays a crucial role in its success, and choosing the right actors is an important
      decision that can have a significant impact on the film's quality and appeal.
    </p>


    <label for="image-selector2">
      Current genre:
    </label>
    <select id="image-selector2" onchange="displayImages(this)" class="dropdown-menu">
      <option value="image1">Image 1</option>
      <option value="image2">Image 2</option>
    </select>

    <h2 id="genres-complement">How well this genre works with others?</h2>
    <img id="image2" src="./figures/folder2/image1.jpg" alt="Image 2">
    <p>Some text goes here</p>


    <label for="image-selector3">
      Current genre:
    </label>
    <select id="image-selector3" onchange="displayImages(this)" class="dropdown-menu">
      <option value="image1">Image 1</option>
      <option value="image2">Image 2</option>
    </select>

    <h2 id="ethnicity-gender">Etnicity and gender equality. How unfair is the cinema industry?</h2>
    <img id="image5" src="./figures/folder1/image1.jpg" alt="Image 1">
    <p>Some text goes here</p>

    <h2 id="top-words">What are the main topics of the top movies?</h2>
    <img id="image4" src="./figures/folder2/image1.jpg" alt="Image 2">
    <p>Some text goes here</p>

    <h2 id="budget">Let's talk about money. How much you need to spend to get a succesful movie?</h2>
    <img id="image3" src="./figures/folder1/image1.jpg" alt="Image 1">
    <p>Some text goes here</p>


    <script>
      function displayImages(element) {
        // Get the selected value of the dropdown menu
        var selectedValue = element.value;

        // Set the value of all dropdown menus to the selected value
        var dropdowns = document.querySelectorAll("select");
        dropdowns.forEach(dropdown => {
          dropdown.value = selectedValue;
        });

        // Update the src attributes of the images
        document.getElementById("image1").src = "./figures/folder1/" + selectedValue + ".jpg";
        document.getElementById("image2").src = "./figures/folder2/" + selectedValue + ".jpg";
      }
    </script>

    <div>
      <h1 id="create-your-movie">Create your own movie. How succesful can you make it?</h1>
    </div>

    <!-- Dropdown menu to display the options -->
    <label for="actor-selector">Choose the main actor:</label>
    <!-- Input field to filter the options -->
    <input type="text" id="filter" placeholder="Filter actor by name">
    <select id="actor-selector" class="dropdown-menu"></select>

    <script>
      // Retrieve the data from the JSON file
      fetch("./data/actors.json")
        .then(response => response.json())
        .then(data => {
          // Get the dropdown menu element
          var dropdownMenu = document.getElementById("actor-selector");

          // Add the options to the dropdown menu
          for (var key in data) {
            var option = document.createElement("option");
            option.value = key;
            //option.text = data[key];
            option.text = key;
            dropdownMenu.add(option);
          }

          // Get the input field element
          var inputField = document.getElementById("filter");

          // Filter the options in the dropdown menu based on the user input
          inputField.addEventListener("input", event => {
            var filter = event.target.value.toLowerCase();
            var options = dropdownMenu.options;
            for (var i = 0; i < options.length; i++) {
              var option = options[i];
              if (option.text.toLowerCase().indexOf(filter) === -1) {
                option.style.display = "none";
              } else {
                option.style.display = "block";
              }
            }
          });
        });
    </script>

    <footer class="site-footer">
      {% if site.github.is_project_page %}
      <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
        is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
      {% endif %}
      <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub
          Pages</a>.</span>
    </footer>
  </main>
</body>

</html>