<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  {% seo %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
    type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}
  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>


</head>

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>

  <header class="page-header" role="banner">
    <!-- <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline
      }}</h2>
    {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    {% endif %}
    {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
    <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
    {% endif %} -->
  </header>

  <main id="content" class="main-content" role="main" style="visibility: visible;">
    <h1 id="what-makes-a-movie-successful-">What makes a movie successful?</h1>
    <p>What makes a movie successful? While this question may seem like a low-hanging fruit, it requires a very holistic
      approach. A good film should not only make use of the 7th Art but of all seven Arts. A movie implies many choices:
      what genres to focus on, which director and actors bring the most added value, what budget to spend? We gather in
      this study movie data from multiple databases including CMU movies, IMDB and Wikipedia. With such a large movie
      database, we can expect to find some patterns of which feature choices lead to a more successful movie. But then
      again, what makes a movie successful? From profitability to perenniality, we shall investigate different success
      indicators and help you create the next Oscar-winning movie.
    </p>
    <hr>
    <h2>How to we quantify success?</h2>
    <p>
      To investigate what makes a movie successful, we need to be able to quantify success. Success of a movie can be
      very subjective. We thus need to diversify our definitions of success to have a holistic view of our dataset. The
      following success indicators are considered:
    <ul>
      <li>How well a movie is received? We base ourselves on the movie ratings from the IMDB database which we weight
        by
        the number of votes.</li>
      <li>How profitable a movie is? Overall gross revenue of the movie and profit made</li>
      <li>How long a movie will last in time? Number of monthly connection in 2022 to the movie wikipedia page
      </li>
    </ul>
    The top 20 movies for each of those success features are displayed below.

    </p>


    <!-- Interactive graphs below  -->
    <div id='money_top_20_movies'>
    </div>

    <div id='top_20_pageviews'>
    </div>

    <div id='top_20_IMDB'>
    </div>
    <p>
      Taking into account those 4 success features (IMDB rating, gross revenue, profit, wikipedia pageviews), we create
      a single score for each movie. From there this score is used to compute for each movie feature individual i
      (actor, director, genre) a feature score weighted by the number of movies in which individual i plays a role.
    </p>



    <hr>
    <h2>Best movie feature choices: </h2>
    <p>
      Through our data analysis, we were able to extract valuable insight on which features to focus on when making a
      movie. In order to advise the next hit productor in his choices for his next movie, we investigate below the best
      choices for several features according to movie genres. For simplicity, we propose such results for the most 15
      used genres.

      While budget may be a priority for horror movies to mesmerize you with special effects, it might be secondary for
      a romantic comedy. In order to further advise the creator of the next successful movie, we provide in each figure’
      title the importance rank for the chosen genre. If this rank is 1, then you may want to focus on this particular
      feature while rank 8 would be less important for the final success of your movie.

    </p>





    <h2 id="actors-directors">Best actors and directors to get a good movie</h2>

    <p>Choosing a good cast and director for a movie are both crucial elements of the film-making process, as they can
      greatly impact the quality and success of a film.
    </p>
    <p>
      A good cast is essential for bringing the characters to life and making them believable and relatable to the
      audience. The actors must be able to convey the emotions and motivations of their characters through their
      performances, and must be able to work well with the other members of the cast in order to create a cohesive and
      compelling story. In addition to acting ability, it is also important to consider the diversity and representation
      of the cast, as a diverse cast can bring different perspectives and experiences to the film and make it more
      relatable to a wider audience.
    </p>
    <p>
      On the other hand, a good director is responsible for overseeing the creative vision of the film and bringing it
      to life through the actors, sets, and other elements of the film. They must be able to communicate their vision to
      the cast and crew and guide them towards achieving it. A good director also has the ability to bring out the best
      performances from the actors and create a cohesive and compelling story.
    </p>

    <label for="image-selector1">
      Select a genre:
    </label>
    <select id="image-selector1" onchange="displayImages(this)" class="dropdown-menu">
      <option value="Action">Action</option>
      <option value="Adventure">Adventure</option>
      <option value="Black-and-white">Black and White</option>
      <option value="Comedy">Comedy</option>
      <option value="Crime-Fiction">Crime Fiction</option>
      <option value="Documentary">Documentary</option>
      <option value="Drama">Drama</option>
      <option value="Family-Film">Familiar</option>
      <option value="Horror">Horror</option>
      <option value="Indie">Indie</option>
      <option value="Romance-Film">Romance</option>
      <option value="Short-Film">Short</option>
      <option value="Thriller">Thriller</option>
      <option value="World-cinema">World cinema</option>
    </select>


    <div style="display: flex; justify-content: center;">
      <img id="best_actors" src="./figures/best_actors/Action.svg" alt="Best Actors"
        style="max-width: 60%; max-height: 100%; object-fit: contain;">
      <img id="best_directors" src="./figures/best_directors/Action.svg" alt="Best directors"
        style="max-width: 60%; max-height: 100%; object-fit: contain;">
    </div>


    <p>
      In the present study, we looked into the added value of actors and directors by assigning them a score based on
      their portfolio of movies (respective score and number of movies) sorted by genres. We further investigated the
      added values of specific collaborations when a minimum of 3 movies have been made together. On the network graphs
      above, we show the top 15 actors and directors according to the genre of your choice. The size of the bubble is
      proportional to the score of the individual while the presence and width of an edge between two individuals
      symbolizes the added value of their collaboration.
    </p>
    <p>
      Overall, the cast of a movie plays a crucial role in its success, and choosing the right actors is an important
      decision that can have a significant impact on the film's quality and appeal.
    </p>

    <h2 id="genres-complement">How well this genre works with others?</h2>

    <p>We now investigate the best associations of genres. Having different genres for a movie can be important for a
      number of reasons.</p>
    <p>One reason is that it allows the movie to appeal to a wider audience. Different genres appeal to different
      demographics, and by incorporating elements of multiple genres, a movie can attract a larger and more diverse
      audience.</p>
    <p> Another reason is that it can make the movie more interesting and unpredictable. By combining different genres,
      a movie can keep the audience guessing and create a more unique and engaging viewing experience.</p>
    <p>In addition, incorporating elements of different genres can also allow a movie to explore a wider range of themes
      and ideas. For example, a comedy-drama might explore both light-hearted and serious themes, while a horror-comedy
      might blend scares with laughs.</p>
    <p>Overall, having different genres in a movie can help to make it more appealing, interesting, and dynamic, and can
      allow it to explore a wider range of themes and ideas.</p>
    <p>As before, we display here a network graph of the best 5 combinations to your chosen genre with an edge width
      proportional to the success of this combination.</p>


    <label for="image-selector3">
      Select a genre:
    </label>
    <select id="image-selector3" onchange="displayImages(this)" class="dropdown-menu">
      <option value="Action">Action</option>
      <option value="Adventure">Adventure</option>
      <option value="Black-and-white">Black and White</option>
      <option value="Comedy">Comedy</option>
      <option value="Crime-Fiction">Crime Fiction</option>
      <option value="Documentary">Documentary</option>
      <option value="Drama">Drama</option>
      <option value="Family-Film">Familiar</option>
      <option value="Horror">Horror</option>
      <option value="Indie">Indie</option>
      <option value="Romance-Film">Romance</option>
      <option value="Short-Film">Short</option>
      <option value="Thriller">Thriller</option>
      <option value="World-cinema">World cinema</option>
    </select>

    <img id="best_genre" src="./figures/best_genre/Action.svg" alt="Genres combination">



    <h2 id="ethnicity-gender">Etnicity and gender equality. How unfair is the top cinema industry?</h2>

    <label for="image-selector4">
      Select a genre:
    </label>
    <select id="image-selector4" onchange="displayImages(this)" class="dropdown-menu">
      <option value="Action">Action</option>
      <option value="Adventure">Adventure</option>
      <option value="Black-and-white">Black and White</option>
      <option value="Comedy">Comedy</option>
      <option value="Crime-Fiction">Crime Fiction</option>
      <option value="Documentary">Documentary</option>
      <option value="Drama">Drama</option>
      <option value="Family-Film">Familiar</option>
      <option value="Horror">Horror</option>
      <option value="Indie">Indie</option>
      <option value="Romance-Film">Romance</option>
      <option value="Short-Film">Short</option>
      <option value="Thriller">Thriller</option>
      <option value="World-cinema">World cinema</option>
    </select>

    <div style="display: flex; justify-content: center;">
      <img id="ethnicity_evolution" src="./figures/ethnicity_evolution/Action.svg" alt="Etnicity evolution"
        style="max-width: 60%; max-height: 100%; object-fit: contain;">
      <img id="gender_evolution" src="./figures/gender_evolution/Action.svg" alt="Gender evolution"
        style="max-width: 60%; max-height: 100%; object-fit: contain;">
    </div>
    <p>
      This chapter seeks to understand the cultural, ethnic and gender diversity that exists in the film industry. The
      graphs show how cinema is simply a reflection of an unequal and discriminatory society.
    </p>
    <p>
      Below is the same graph where the evolution is shown for all film genres. A clear trend can be observed in both
      graphs.</p>

    <div style="display: flex; justify-content: center;">
      <img id="ethnicity_evolution_all" src="./figures/ethnicity_evolution/All.svg" alt="Etnicity evolution all genres"
        style="max-width: 60%; max-height: 100%; object-fit: contain;">
      <img id="gender_evolution_all" src="./figures/gender_evolution/All.svg" alt="Gender evolution all genres"
        style="max-width: 60%; max-height: 100%; object-fit: contain;">
    </div>

    <p>
      In the graph showing the ethnicity of the main characters of each decade, the color white predominates over the
      rest. The rise of the Indian film industry can be seen and the trend seems to be increasing. The rest of the
      ethnicities continue to have fewer roles although clearly there has been an increase in their appearances in
      recent years.
    </p>

    <p>
      The graph distinguishing between genres is even less encouraging. Although it shows a timid trend towards
      equality, there is a clear inequality in the number of male and female actors. Moreover, it can be seen that for
      some genders, the difference is much greater than for others.
    </p>

    <p>
      The conclusion is that to date, the key to making a successful film has been to capture a reflection of society.
      Inequalities have crossed the big screen too. However, to show some hope, this study was based on films that are
      at least 10 years old. Today, there is a clear determination on the part of many production companies to increase
      cultural diversity in their productions. How would these charts change today? We leave this question for possible
      future studies.
    </p>



    <h2 id="top-words">What are the main topics of the top movies?</h2>
    <label for="image-selector5">
      Select a genre:
    </label>
    <select id="image-selector5" onchange="displayImages(this)" class="dropdown-menu">
      <option value="Action">Action</option>
      <option value="Adventure">Adventure</option>
      <option value="Black-and-white">Black and White</option>
      <option value="Comedy">Comedy</option>
      <option value="Crime-Fiction">Crime Fiction</option>
      <option value="Documentary">Documentary</option>
      <option value="Drama">Drama</option>
      <option value="Family-Film">Familiar</option>
      <option value="Horror">Horror</option>
      <option value="Indie">Indie</option>
      <option value="Romance-Film">Romance</option>
      <option value="Short-Film">Short</option>
      <option value="Thriller">Thriller</option>
      <option value="World-cinema">World cinema</option>
    </select>

    <div style="display: flex; justify-content: center;">
      <img id="wordclouds_all" src="./figures/wordclouds/special_red_all/Action.png" alt="All words"
        style="max-width: 60%; max-height: 100%; object-fit: contain;">
      <img id="wordclouds_best" src="./figures/wordclouds/special_red_best/Action.png" alt="Best words"
        style="max-width: 60%; max-height: 100%; object-fit: contain;">
    </div>

    <p>A word cloud is a very easy way to quickly grasp the key topics around which revolves a text corpus. In our
      analysis, we use this technique to visualize the main themes addressed by a particular movie genre. We do this
      first
      with a random sample from all the movies in that genre, then we draw a sample from a subset made of the most
      successful movies in the same genre, to see if successful movies really stand above the rest when it comes to the
      topics they address.</p>
    <p>
      CRITIQUE: however, it might be that successful movies don’t have much in common between each other although they
      are
      different from the rest. it can be argued that a movie’s individual originality is a factor in its success
    </p>

    <h2 id="budget">Let's talk about money. How much you need to spend to get a successful movie?</h2>
    <label for="image-selector6">
      Select a genre:
    </label>
    <select id="image-selector6" onchange="displayImages(this)" class="dropdown-menu">
      <option value="Action">Action</option>
      <option value="Adventure">Adventure</option>
      <option value="Black-and-white">Black and White</option>
      <option value="Comedy">Comedy</option>
      <option value="Crime-Fiction">Crime Fiction</option>
      <option value="Documentary">Documentary</option>
      <option value="Drama">Drama</option>
      <option value="Family-Film">Familiar</option>
      <option value="Horror">Horror</option>
      <option value="Indie">Indie</option>
      <option value="Romance-Film">Romance</option>
      <option value="Short-Film">Short</option>
      <option value="Thriller">Thriller</option>
      <option value="World-cinema">World cinema</option>
    </select>
    <img id="budgets" src="./figures/budgets/Action.svg" alt="Budgets">
    <p>An optimal budget is essential when making a movie for a number of reasons. First and foremost, a budget
      determines
      the scope and scale of a film. It determines how much money is available for production costs such as hiring
      actors,
      renting equipment, and paying for locations and sets. A larger budget allows for more resources to be invested in
      these areas, which can lead to a higher-quality film.</p>
    <p>On the other hand, a smaller budget may limit the scope of the film and require filmmakers to be more creative
      and
      resourceful in order to achieve their vision. While it is certainly possible to make a great film on a small
      budget,
      it requires careful planning and efficient use of resources.</p>
    <p>In addition to determining the scope and scale of a film, a budget also plays a critical role in the marketing
      and
      distribution of a movie. Marketing and distribution costs can be significant, and having an optimal budget can
      help
      ensure that a film reaches a wide audience and generates a return on investment.</p>
    <p>Overall, an optimal budget is crucial for ensuring that a film has the resources it needs to be successful both
      creatively and financially. It allows filmmakers to achieve their vision and bring their stories to life, and it
      helps ensure that a film can reach a wide audience and generate a return on investment.</p>









    <script>
      function displayImages(element) {
        // Get the selected value of the dropdown menu
        var selectedValue = element.value;

        // Set the value of all dropdown menus to the selected value
        var dropdowns = document.querySelectorAll("select");
        dropdowns.forEach(dropdown => {
          dropdown.value = selectedValue;
        });

        // Update the src attributes of the images
        document.getElementById("best_actors").src = "./figures/best_actors/" + selectedValue + ".svg";
        document.getElementById("best_directors").src = "./figures/best_directors/" + selectedValue + ".svg";
        document.getElementById("ethnicity_evolution").src = "./figures/ethnicity_evolution/" + selectedValue + ".svg";
        document.getElementById("gender_evolution").src = "./figures/gender_evolution/" + selectedValue + ".svg";

        document.getElementById("best_genre").src = "./figures/best_genre/" + selectedValue + ".svg";
        document.getElementById("budgets").src = "./figures/budgets/" + selectedValue + ".svg";
        document.getElementById("wordclouds_all").src = "./figures/wordclouds/special_red_all/" + selectedValue + ".png";
        document.getElementById("wordclouds_best").src = "./figures/wordclouds/special_red_best/" + selectedValue + ".png";
      }
    </script>


    <div>
      <h1 id="create-your-movie">Create your own movie. How successful can you make it?</h1>
    </div>


    <p>Select an option from each dropdown menu:</p>
    <form>
      <h2>Choose the main actor</h2>
      <label for="menu-actors">Main Actor:</label><br>
      <input type="text" id="filter-actors" placeholder="Filter by name"
        oninput="filterOptions('menu-actors', this.value)">
      <br>
      <select id="menu-actors" name="menu-actors" class="dropdown-menu" onchange="showScore()">
        <option value="">---</option>
      </select>


      <h2>Choose the director</h2>
      <label for="menu-directors">Director:</label><br>
      <input type="text" id="filter2" placeholder="Filter by name"
        oninput="filterOptions('menu-directors', this.value)">
      <br>
      <select id="menu-directors" name="menu-directors" class="dropdown-menu" onchange="showScore()">
        <option value="">---</option>
      </select>


      <h2>Choose the genre of your movie</h2>
      <label for="menu-genres">Genre:</label><br>
      <!-- <input type="text" id="filter3" placeholder="Filter by name" oninput="filterOptions('menu-genres', this.value)"> -->
      <select id="menu-genres" name="menu-genres" class="dropdown-menu" onchange="showScore()">
        <option value="">---</option>
      </select>


      <h2>Where are you going to produce the movie?</h2>
      <label for="menu-countries">Country of production:</label><br>
      <!-- <input type="text" id="filter4" placeholder="Filter by name" -->
      <!-- oninput="filterOptions('menu-countries', this.value)"> -->
      <select id="menu-countries" name="menu-countries" class="dropdown-menu" onchange="showScore()">
        <option value="">---</option>
      </select>

      <h2>Choose the language of the original version</h2>
      <label for="menu-languages">Original language:</label><br>
      <!-- <input type="text" id="filter5" placeholder="Filter by name"
        oninput="filterOptions('menu-languages', this.value)"> -->
      <select id="menu-languages" name="menu-languages" class="dropdown-menu" onchange="showScore()">
        <option value="">---</option>
      </select>
    </form>
    <p id="sum"></p>

    <div class="score">
      <span class="integer"></span>.<span class="decimal"></span>
    </div>

    <p style="text-align: center;">Your movie is going to be in the top</p>
    <p style="text-align: center;" id="top-per">?%</p>
    <p style="text-align: center;">of all history of cinema</p>

    <script src="./js/modelPresenter.js">
    </script>

    <script src="./js/money_top_20_movies.js">
    </script>

    <script src="./js/top_20_pageviews.js">
    </script>

    <script src="./js/top_20_IMDB.js">
    </script>

    <footer class="site-footer">
      <p>This site has been created by Mehdi, Nikolay, Olivia and Pau, proud members of TheADAholics team.</p>
      <p>You can find the Github repo used to realize this analysis in <a
          href="https://github.com/epfl-ada/ada-2022-project-theadaholics">this link</a></p>
    </footer>
  </main>
</body>

</html>